@*
    User dashboard
*@
@page "/dashboard"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IUserStateService UserStateService
@inject IApiService ApiService
@inject IModalService ModalService
@inject IOptions<ContestOptions> ContestOptions
@rendermode InteractiveServer

<AuthCheck />

<PageTitle>Dashboard</PageTitle>

<h1 class="text-3xl">Dashboard</h1>

@if (user is null)
{
    <LoadingSpinner />
}
else
{
    <p class="italic">Welcome, @user.Username</p>

    <div class="mb-4">
        <h2 class="text-xl">Entered Contests</h2>
        @if (enteredContests.Count == 0)
        {
            <p>You are not in any contests.</p>
        }
        else
        {
            <ul class="flex flex-col gap-y-3">
                @foreach (var contest in enteredContests)
                {
                    <li class="flex p-2 border rounded-md border-violet-300 gap-x-3">
                        <a class="text-xl hover:underline text-slate-700" href="contest/@contest.Id">@contest.Name</a>
                        <div>Starts @contest.StartTime UTC</div>
                        <div>Ends @contest.EndTime UTC</div>
                    </li>
                }
            </ul>
        }
    </div>

    @if (ContestOptions.Value.OpenCreation)
    {
        <a class="text-lg font-semibold hover:underline text-violet-600" href="contest/new">Start Contest</a>
    }
    else
    {
        <AuthorizeView Roles="Admin">
            <a class="text-lg font-semibold hover:underline text-violet-600" href="contest/new">Start Contest</a>
        </AuthorizeView>
    }

    @if (administered.Count > 0)
    {
        <div>
            <h2 class="text-xl">Administered Contests</h2>
            <ul class="flex flex-col gap-y-2">
                @foreach (var contest in administered)
                {
                    <li class="flex p-2 border rounded-md border-violet-300 gap-x-3">
                        <a class="text-xl hover:underline text-slate-700" href="contest/@contest.Id/manage">@contest.Name</a>
                        <div>Starts @contest.StartTime UTC</div>
                        <div>Ends @contest.EndTime UTC</div>
                    </li>
                }
            </ul>
        </div>
    }
}

@code {
    // current user
    User? user;

    IReadOnlyList<DistributedCodingCompetition.ApiService.Models.Contest> administered = [];
    IReadOnlyList<DistributedCodingCompetition.ApiService.Models.Contest> enteredContests = [];

    // pagination
    int administeredPage = 1;
    int enteredContestsPage = 1;

    protected override async Task OnInitializedAsync()
    {
        // Get current user.
        user = await UserStateService.UserAsync();
        if (user is null)
        {
            // should not happen thanks to state service and auth check
            ModalService.ShowError("User not found", "User not found, please log in again.");
            return;
        }

        // Get user's administered and entered contests.
        var (success, administra) = await ApiService.TryReadUserAdministratedContestsAsync(user.Id, 10, administeredPage);
        if (!success || administra is null)
        {
            ModalService.ShowError("Failed to load contests", "Internal error");
            return;
        }

        administered = administra;

        (success, var entered) = await ApiService.TryReadUserEnteredContestsAsync(user.Id, 10, enteredContestsPage);

        if (!success || entered is null)
            ModalService.ShowError("Failed to load contests", "Internal error");
        else
            enteredContests = entered;
    }
}
