@page "/dashboard"
@rendermode InteractiveServer
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IUserStateService UserStateService
@inject IOptions<ContestOptions> ContestOptions
@inject IApiService ApiService
@inject IModalService ModalService

<AuthCheck />

<h1 class="text-3xl">Dashboard</h1>

@if (user is not null)
{
    <p class="italic">Welcome, @user.Username</p>

    <div class="mb-4">
        <h2 class="text-xl">Entered Contests</h2>
        @if (enteredContests.Count == 0)
        {
            <p>You are not in any contests.</p>
        }
        else
        {
            <ul class="flex flex-col gap-y-3">
                @foreach (var contest in enteredContests)
                {
                    <li class="flex p-2 border rounded-md border-violet-300 gap-x-3">
                        <a class="text-xl hover:underline text-slate-700" href="contest/@contest.Id">@contest.Name</a>
                        <div>Starts @contest.StartTime UTC</div>
                        <div>Ends @contest.EndTime UTC</div>
                    </li>
                }
            </ul>
        }
    </div>

    @if (ContestOptions.Value.OpenCreation)
    {
        <a class="text-lg font-semibold hover:underline text-violet-600" href="contest/new">Start Contest</a>
    }
    else
    {
        <AuthorizeView Roles="Admin">
            <a class="text-lg font-semibold hover:underline text-violet-600" href="contest/new">Start Contest</a>
        </AuthorizeView>
    }

    @if (administered.Count > 0)
    {
        <div>
            <h2 class="text-xl">Administered Contests</h2>
            <ul class="flex flex-col gap-y-2">
                @foreach (var contest in administered)
                {
                    <li class="flex p-2 border rounded-md border-violet-300 gap-x-3">
                        <a class="text-xl hover:underline text-slate-700" href="contest/@contest.Id/manage">@contest.Name</a>
                        <div>Starts @contest.StartTime UTC</div>
                        <div>Ends @contest.EndTime UTC</div>
                    </li>
                }
            </ul>
        </div>
    }

}
else
{
    <p>Loading...</p>
}

@code {
    User? user;
    IReadOnlyList<DistributedCodingCompetition.ApiService.Models.Contest> administered = [];
    IReadOnlyList<DistributedCodingCompetition.ApiService.Models.Contest> enteredContests = [];
    int administeredPage = 1;
    int enteredContestsPage = 1;
    protected override async Task OnInitializedAsync()
    {
        user = await UserStateService.UserAsync();
        if (user is null)
        {
            // should not happen thanks to state service and auth check
            ModalService.ShowError("User not found", "User not found, please log in again."); 
            return;
        }
        (var success, var administra) = await ApiService.TryReadUserAdministratedContestsAsync(user.Id, 10, administeredPage);
        if (success && administra is not null)
        {
            administered = administra;
        }

        (success, var entered) = await ApiService.TryReadUserEnteredContestsAsync(user.Id, 10, enteredContestsPage);
        if (success && entered is not null)
        {
            enteredContests = entered;
        }
    }
}
