@page "/contest/{id:guid}/leaderboard"
@inject NavigationManager NavigationManager
@inject IApiService ApiService
@inject IModalService ModalService
@inject ILeaderboardService LeaderboardService

<AuthCheck Contest=Id />

<PageTitle>Leaderboard</PageTitle>

<h1>@contest?.Name Leaderboard</h1>

@if (contest is null || leaderboard is null)
{
    <LoadingSpinner />
}
else
{
    <div>This leaderboard was generated @leaderboard.Creation</div>
    <div>Displaying @leaderboard.Entries.Count contestents out of @leaderboard.Count</div>
    <div class="flex flex-col gap-y-1">
        @foreach (var entry in leaderboard.Entries)
        {
            <div>@entry.Rank. @entry.Username with @entry.Points points</div>
        }
    </div>

    <div class="flex">
        <button enabled="@PrevEnabled" @onclick=Prev>Previous</button>
        <button enabled="@NextEnabled" @onclick=Next>Next</button>
    </div>
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    [SupplyParameterFromQuery]
    public int? Page { get; set; }

    int page => Page ?? 1;

    bool NextEnabled => leaderboard?.Count is 50;
    bool PrevEnabled => page > 1;

    void Next() =>
        NavigationManager.NavigateTo(NavigationManager.GetUriWithQueryParameter(nameof(Page), (page + 1)));

    void Prev() =>
        NavigationManager.NavigateTo(NavigationManager.GetUriWithQueryParameter(nameof(Page), (page - 1)));

    Contest? contest;

    Leaderboard? leaderboard;

    protected override async Task OnParametersSetAsync()
    {
        (var success, contest) = await ApiService.TryReadContestAsync(Id);
        if (!success || contest is null)
        {
            ModalService.ShowError("Failed to load contest", "Internal error");
            return;
        }

        leaderboard = await LeaderboardService.TryGetLeaderboardAsync(Id, page);
        if (leaderboard is null)
        {
            ModalService.ShowError("Failed to load leaderboard", "Internal error");
            return;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            using PeriodicTimer periodicTimer = new(TimeSpan.FromSeconds(30));
            while (await periodicTimer.WaitForNextTickAsync())
            {
                leaderboard = await LeaderboardService.TryGetLeaderboardAsync(Id, page);
                await InvokeAsync(StateHasChanged);
            }
        }
    }
}
